.seatli{
    list-style: none;
    float: left;
    padding: 5px;

}
.slistdiv{
    
    padding: 10px;
    width: 80%;
    clear: both;
    border: 1px solid #999;
    margin: 5px auto;
    background-color: #eee;
}
.seatshow{
    border: 1px solid #000;
    margin: 2px;
    padding: 5px 10px;
}
.seatshow.disabled{
    background-color: grey;
}
.nowselected{
    background-color: green;
}
.seatshow.disabled.myseatbooked{
    background-color: yellow;
}
.amntdiv{
    float: right;
}
.ng-progress{
    top:52px !important;
}